<h1>Авторизация</h1>

<% if flash[:alert] %>
  <% if flash[:alert] == 'Ваша учётная запись заблокирована. Обратитесь к администратору.' %>
    <p>Ваша учётная запись заблокирована.</p>
    <p>Пожалуйста, обратитесь к администратору по электронной почте: admin@example.com</p>
  <% else %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>
<% end %>

<%= form_with url: '/login', method: :post do |form| %>
  <div>
    <%= form.label :email, 'Email' %><br>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password, 'Пароль' %><br>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.submit 'Войти' %>
  </div>
<% end %>
